:root {
    --preto:#141414;
    --vermelho:#E50914;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: #fff;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}
header .container nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
header .container nav a:hover {
    color: #fff;
}
.principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)100%), url('../img/mini0.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.principal .titulo {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15%;
}
.principal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
}
.botao {
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: #fff;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover {
    background-color: #fff;
    color: #141414;
}
.botao i {
    margin-right: 8px;
}
.container {
    margin-left: 20px;
}
.principal .container {
    width: 70%;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}
.carrosel-filmes{
    margin-top:5px;
}
